body{
    background-image: url(eigen\ background\ 1.png);
 }
 
 body {
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 header {
     background-color: rgb(113, 148, 61);
     color: black;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 1000;
 }
 
 nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: space-around;
     background-color: green;
 }
 
 nav ul li {
     display: inline;
 }
 
 nav ul li a {
     color:black;
     text-decoration: none;
     padding: 15px 20px;
     display: block;
 }
 
 nav ul li a:hover {
     background-color: orange;
 }
 
 h1 {
     margin-top: 80px;
     text-align: center;
 }
 
 h2 {
     text-align: center;
     margin-bottom: 40px;
 }
 
 footer {
     background-color: green
     color white;
      text-align: center;
     padding: 20px 0;
     position: absolute;
     bottom: 0;
     width: 100%;
 }
 
 section {
     padding: 20px;
     margin: 20px;
 }
 
 .content {
     padding: 20px;
     max-width: 1200px;
     margin: 0 auto;
 }
 
 section {
     height: 100vh;
     padding: 20px;
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 
h1{
color: black;
font-size: bold;
font-size: 24px;
 
}
 
h2{
    color: black;
    font-size: bold;
    font-size: 24px;
}
 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
 
  td, th {
    border: 1px solid #000000;
    background-color: #ffffff;
    text-align: left;
    padding: 4px;
  }
 
  tr:nth-child(even) {
    background-color: #dddddd;
  }
 
  a:link {
    text-decoration: none;
}
 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
 
/* Get rid of all default margins/paddings. Set typeface */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
}
 
.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 
  .form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
 
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }
 
  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
 
  /* Style the inputs */
 
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
 
  /* Hide the placeholder texts (a) */
 
  ::placeholder {
    color: transparent;
  }
 
  /* Styling text labels */
 
.label {
    position: absolute;
    top: 13px;
    left: 13px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
 
  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
 
  .submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }
 
  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }
 
  .input:focus {
    border: 1px solid purple;
  }
 
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
 
/* Media query voor schermen kleiner dan 768px (tablets en mobiele apparaten) /
@media (max-width: 768px) {
    table {
        width: 100%;
    }
 
    th, td {
        padding: 8px;
        font-size: 14px;
    }
 
    h1 {
        font-size: 24px;
    }
}
 
/ Media query voor schermen kleiner dan 480px (mobiele telefoons) /
@media (max-width: 480px) {
    table {
        width: 100%;
    }
 
    p {
        font-size: small;
    }
 
    th, td {
        padding: 5px;
        font-size: 12px;
    }
 
    h1 {
        font-size: 10px;
    }
 
    table, thead, tbody, th, td, tr {
        display: block;
    }
 
    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }
 
    td:before {
        position: absolute;
        top: 0;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
 
 
    / Specifieke labels voor elke kolom in mobiele weergave */
    td:nth-of-type(1):before { content: "Functie(groep)"; }
    td:nth-of-type(2):before { content: "Naam"; }
    td:nth-of-type(3):before { content: "Telefoon"; }
    td:nth-of-type(4):before { content: "E-mail"; }
 
 
 
